.jumbotron {
    background-color: white;
    border: black;
    border-width: 10pt;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0px;
  }

#title {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1200px;
    font-size: 70px;
    font-style: bold;
    text-align: right;
    color: red;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-top: 1px;
    padding: 0px;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

#subhead {

    font-family: 'Times New Roman', Times, serif;
    font-weight: 1200px;
    font-size: 35px;
    font-style: bold;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color:black;
    margin-top: 1px;
    padding: 0px;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 0px;
}
  
 body {
      background: url("hoj(2).png") no-repeat center center fixed;
      background-size: cover;
}

#b_survey {

    background: url("super_friends.jpg") no-repeat center center fixed;

}

#s_button {
    align-content: center;
    text-align: center;
    float: center;
    margin-left:400px;
    padding-bottom: 30px;
}

.links {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-weight: 1000px;
    font-style: bold;
    text-shadow: .25px .25px .25px black;
}

#form {
background-color: white;
font-weight: 800px;
width:40%;
opacity: 0.975;
}

#results-modal {
 width: 100%;
}

#mod_c {
width:100%;
}

#Mod_b {
width: 100%;
}

#Mod_a {
    width: 100%;
    }
